img{
    height: 200px;
    width: 200px;
}

.color-title{
    font-weight: normal;
}

#red{
    color: red;
}

#blue{
    color: rgb(0, 100, 134);
}

#orange{
    color: orange;
}

#green{
    color: green;
}

#yellow{
    color: rgb(180, 180, 49);
}